[Desktop Entry]
Encoding=UTF-8
Name=GRVS
Comment=GRVS P2P Cryptocurrency
Comment[fr]=GRVS, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GRVS, eşten eşe kriptografik sanal para birimi
Exec=grvs-qt %u
Terminal=false
Type=Application
Icon=grvs128
MimeType=x-scheme-handler/grvs;
Categories=Office;Finance;
